@model CreateTaskViewModel

@{
    ViewBag.Title = "Create new task";
}

<h2>@ViewBag.Title</h2>

@Html.ValidationSummary(true)

@using(Html.BeginForm())
{
    @Html.EditorForModel()

    <input type="submit" value="Add"/>
}
